absl-py==0.7.1
astor==0.7.1
bleach==1.5.0
boto==2.49.0
boto3==1.9.74
botocore==1.12.74
bz2file==0.98
certifi==2018.8.24
chardet==3.0.4
Click==7.0
cloudpickle==0.5.6
cycler==0.10.0
dask==0.19.2
decorator==4.3.0
docutils==0.14
enum34==1.1.6
gast==0.2.0
gensim==3.6.0
google-pasta==0.1.7
grpcio==1.17.1
h5py==2.8.0
html5lib==0.9999999
idna==2.7
imutils==0.5.1
jmespath==0.9.3
Keras==2.2.4
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
kiwisolver==1.0.1
Markdown==3.0.1
matplotlib==3.0.0
networkx==2.2
-e git+https://github.com/Maluuba/nlg-eval.git@329dd5b659ba33415616d2d571a07fa1d3073841#egg=nlg_eval
nltk==3.4
numpy==1.15.2
opencv-python==3.4.4.19
pandas==0.23.4
Pillow==5.2.0
progressbar2==3.38.0
protobuf==3.6.1
pyparsing==2.2.2
python-dateutil==2.7.3
python-utils==2.3.0
pytz==2018.7
PyWavelets==1.0.1
PyYAML==3.13
requests==2.19.1
s3transfer==0.1.13
scikit-image==0.14.0
scikit-learn==0.20.0
scipy==1.1.0
sentencepiece==0.1.6
singledispatch==3.4.0.3
six==1.11.0
sklearn==0.0
smart-open==1.7.1
tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
tensorflow-gpu==1.15.0
tensorflow-tensorboard==0.4.0
termcolor==1.1.0
Theano==1.0.3
toolz==0.9.0
tqdm==4.28.1
urllib3==1.23
Werkzeug==0.14.1
wrapt==1.11.2
